/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}
/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #3498db;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}
li:hover a {
    background: #d2d2d2;
    border-radius: 5px;
    padding: 10px;
    color: black;   
    }

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Hero Section Styles */
.hero {
    background-color: #f1f1f1;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
   
    
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
}